{
  "extends": "stylelint-config-standard",
  "ignoreFiles": ["./dist/**", "./node_modules/**"],
  "plugins": ["stylelint-scss", "stylelint-order", "stylelint-selector-bem-pattern"],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "selector-list-comma-newline-after": "always-multi-line",
    "order/order": ["dollar-variables", "at-variables", "less-mixins", "custom-properties", "declarations", "at-rules", "rules"],
    "order/properties-alphabetical-order": true,
    "plugin/selector-bem-pattern": {
      "componentName": "^[A-Z][A-Za-z]+$",
      "componentSelectors": {
        "initial":
          "^(.{componentName}(-{1,2}[a-z][A-Za-z]+)*|&)(.is-[a-z][A-Za-z]+)?$",
        "combined":
          "^(.{componentName}(-{1,2}[a-z][A-Za-z]+)*|&)(.is-[a-z][A-Za-z]+)?$"
      },
      "utilitySelectors": "^\\.form-[A-Za-z]+$"
    }
  }
}
