@import '../../styles/_colors.scss';
@import '../../styles/_typography.scss';

/* @define ChainView */
.ChainView {
  box-sizing: border-box !important;
  color: $dark2;
  font-family: 'Roboto', sans-serif !important;
  font-size: 1rem;
  height: 100%;
  position: fixed;
  right: 0;
  scroll-behavior: smooth !important;
  top: 0;
  width: 300px;
  z-index: 1000;

  &-panel {
    background: $light;
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.15);
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0;
    transition: left 0.5s;
    width: 100%;

    &.is-open {
      left: 0;
    }

    &-title {
      border-bottom: 1px solid $light3;
      margin: 0;
      padding: 10px;
    }

    &-tab {
      &-title {
        border-bottom: 1px solid $light3;
        cursor: pointer;
        margin: 0;
        padding: 10px 30px;
        position: relative;
        user-select: none;

        &-toggle {
          position: absolute;
          right: 30px;
          top: 50%;
          transform: translateY(-50%);
          transition: transform 0.1s;

          &.is-toggled {
            transform: translateY(-50%) rotate(90deg);
          }
        }
      }

      &-content {
        border-bottom: 1px solid $light3;
        padding: 10px 20px;
      }
    }
  }

  &-toggle {
    cursor: pointer;
    left: calc(100% - 45px);
    position: absolute;
    top: 5px;
    transition: left 0.5s;

    &:hover:not(.is-open) {
      left: calc(90% - 45px);

      & + .ChainView-panel {
        left: 90%;
      }
    }

    &.is-open {
      left: -45px;
    }

    &-image {
      width: 40px;
    }
  }
}
