// Bases
$light: #fff;
$light2: #f2f5fa;
$light3: #edede6;
$dark: #000;
$dark2: #1a1b23;
$dark3: #3d464d;
$dark4: #47525d;
$primary: #012c6b;

// States
$disabled: #77909d;
$info: #337ab7;
$warning: #f0ad4e;
$success: #8dc572;
$error: #be6464;
