/* @define Form */
.Form {
  &-fieldset {
    border: none;
    margin: 0 10px;
    padding: 0 30px;

    &-fields {
      display: flex;
      flex-flow: row wrap;
    }
  }

  // Utils
  &-noMargins {
    margin: 0;
  }

  &-noSideMargins {
    margin-left: 0;
    margin-right: 0;
  }
}
