.redux-toastr {
  .top-center {
    display: flex;
    margin-left: 0;
    padding: 0;
    text-align: center;
    transform: translateX(-50%);
  }

  .toastr {
    $types: info warning success error;
    $colors: $info $warning $success $error;

    @for $i from 1 through length($types) {
      &.rrt-#{nth($types, $i)} {
        background-color: nth($colors, $i);
      }
    }
  }
}
