/* stylelint-disable declaration-colon-newline-after, indentation  */
@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/metropolis-medium-webfont.woff2') format('woff2'),
    url('../assets/fonts/metropolis-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 500;
  src: url('../assets/fonts/metropolis-mediumitalic-webfont.woff2')
      format('woff2'),
    url('../assets/fonts/metropolis-mediumitalic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/metropolis-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/metropolis-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/metropolis-regularitalic-webfont.woff2')
      format('woff2'),
    url('../assets/fonts/metropolis-regularitalic-webfont.woff') format('woff');
}
/* stylelint-enable */

%heading {
  color: $dark;
}

@mixin heading($fontSize, $fontWeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: ceil(2 * $fontSize) / 2;
  margin: 0 0 (ceil(2 * $fontSize) / 4) 0;

  @extend %heading;
}

// Headings
h1 {
  @include heading(2rem, 800);
}

h2 {
  @include heading(1.75rem, 700);
}

h3 {
  @include heading(1.5rem, 600);
}

h4 {
  @include heading(1.25rem, 500);
}

h5 {
  @include heading(1rem, 400);
}

h6 {
  @include heading(0.75rem, 300);
}

// Paragraphs
p {
  font-size: 0.75rem;
  line-height: 1.8rem;
}

// Modifiers
a {
  color: $info;
  cursor: pointer;
  text-decoration: none;
}

b {
  font-weight: 500;
}

small {
  color: $disabled;
  font-size: 0.8rem;
}
