/* @define DogesOnTrialEvidence */
.DogesOnTrialEvidence {
  margin-top: -70px;
  overflow: hidden;

  &-picture {
    &-link {
      height: 230px;
    }
  }
}

#crisp-chatbox {
  display: none !important;
}
