@import '../../../styles/_colors.scss';

/* @define ChainViewTable */
.ChainViewTable {
  text-align: center;
  width: 100%;

  &-row {
    align-items: center;
    border-bottom: 0.5px solid $light2;
    display: flex;
    height: 40px;
    padding: 5px;

    &--header {
      align-items: flex-end;
      color: $disabled;
      font-size: 0.6rem;
    }

    &--header,
    &:last-child {
      border-bottom: 1px solid $light3;
    }

    &-col {
      flex: 1;
    }
  }
}
