/* @define Tokens */
.Tokens {
  display: flex;
  padding: 16px 15%;

  &-info {
    flex: 1;
    padding-top: 50px;

    &-item {
      padding: 10px;
    }
  }

  &-form {
    flex: 1;
    min-height: 275px;

    &-button {
      margin-left: 40px;
      margin-top: 20px;

      &--nextPeriod {
        margin-top: 25px;
      }
    }
  }
}
