/* @define Tokens */
.Tokens {
  padding: 30px 15%;

  &-info {
    padding: 36px 0;

    &-item {
      padding: 10px;
    }
  }

  &-form {
    min-height: 275px;

    &-button {
      margin-left: 40px;
      margin-top: 20px;

      &--nextPeriod {
        margin-top: 25px;
      }
    }

    &-rate {
      margin-bottom: 0;
      margin-top: 14px;
    }
  }

  &-modal {
    &-dismiss {
      $size: 24px;

      border: 1px solid #ccc;
      font-size: $size;
      height: $size;
      line-height: $size; // vertically center
      position: absolute;
      right: 12px;
      text-align: center;
      top: 10px;
      width: $size;

      &:hover {
        background-color: #ccc;
        cursor: pointer;
      }
    }

    &-footer {
      float: right;
    }
  }

  &-notes {
    margin-left: 40px; // left-align with SELL NOW button
  }
}
