/* @define Tokens */
.Tokens {
  padding: 30px 15%;

  &-info {
    padding: 36px 0;

    &-item {
      padding: 10px;
    }
  }

  &-form {
    min-height: 275px;

    &-button {
      margin-left: 40px;
      margin-top: 20px;

      &--nextPeriod {
        margin-top: 25px;
      }
    }
  }
}
