/* @define TestingPanel */
.TestingPanel {
  display: flex;
  padding: 16px 15%;

  &-form {
    &-button {
      margin-left: 40px;
      margin-top: 20px;
      width: 120px;

      &--nextPeriod {
        margin-top: 25px;
      }
    }
  }
}
