@import '../../styles/_colors.scss';
@import '../../styles/_mixins.scss';

// React Table
.ReactTable {
  border: none;

  // Header
  .rt-thead.-header {
    background-color: $dark3;
    box-shadow: 0 -1px 0 0 $light2;
    color: $light;
    font-size: 14px;
    font-weight: 300;
    height: 45px;

    // Header Cell
    .rt-th {
      line-height: 45px;
      padding-bottom: 0;
      padding-top: 0;

      &:not(.-sort-asc) {
        .rt-resizable-header-content::after {
          left: 6.5px;
          position: relative;
          top: 13px;

          @include triangle('bottom', 6px, $light);
        }
      }

      &.-sort-asc {
        box-shadow: none;
        font-weight: 400;

        .rt-resizable-header-content::after {
          left: 6.5px;
          position: relative;
          top: -13px;

          @include triangle('top', 6px, $light);
        }
      }

      &.-sort-desc {
        box-shadow: none;
        font-weight: 400;
      }
    }
  }

  // Body
  .rt-tbody {
    box-shadow: 0 2px 10px 0 $dark3;

    // Body Row
    .rt-tr-group {
      border-bottom: 1px solid $light3;
      height: 80px;

      // Body Cell
      .rt-td {
        align-items: center;
        border: none;
        display: flex;
        font-size: 14px;
        font-weight: 300;
        justify-content: space-around;
      }
    }
  }

  // Utils
  &-rightAlign {
    justify-content: flex-end !important;
  }

  &-leftAlign {
    justify-content: flex-start !important;
  }
}

/* @define Table */
.Table {
  min-width: 650px;

  &-searchBar {
    box-shadow: 0 -1px 0 0 $light2;
    height: 60px;

    &-searchInput {
      border: none;
      height: 100%;
      margin: 0;
      width: 100%;
    }
  }
}
